<!-- image -->
<div class="row">
    <div class="col-xs-12">
        <img
            [src]="recipe.imagePath"
            [alt]="recipe.name"
            [title]="recipe.name"
            class="img-responsive"
            style="max-height: 300px;">
    </div>
</div>

<!-- name -->
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>

<!-- button dropdown -->
<div class="row">
    <div class="col-xs-12">
        <div appDropdown class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Manage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddIngredientsToSpList(recipe.ingredients)" style="cursor: pointer;">To Shopping List</a></li>
                <li><a [routerLink]="['edit']" style="cursor: pointer;">Edit Recipe</a></li>
                <li><a (click)="onDeleteRecipe(recipe.id)" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- description -->
<div class="row">
    <div class="col-xs-12">
        <p>{{ recipe.description }}</p>
    </div>
</div>

<!-- ingredients -->
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>